<div class="row">
  <div class="small-12 columns">
    <h2>Occasions</h2>
    <table mat-table [dataSource]="motorcycles" class="mat-elevation-z0">   
      
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef>Modèle</th>
        <td mat-cell *matCellDef="let motorcycle">
            <h3>{{motorcycle.model}} <span *ngIf="motorcycle.is_gsa === true">Adventure</span></h3>
        </td>
      </ng-container>
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef>Année</th>
        <td mat-cell *matCellDef="let motorcycle">
            <span>{{ motorcycle.year }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="kilometer">
        <th mat-header-cell *matHeaderCellDef>Kms</th>
        <td mat-cell *matCellDef="let motorcycle">
          <span>{{ motorcycle.kilometer }} Kms</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="packs">
        <th mat-header-cell *matHeaderCellDef>Packs</th>
        <td mat-cell *matCellDef="let motorcycle">
            <div *ngIf="motorcycle.comfort_pack && motorcycle.dynamic_pack && motorcycle.touring_pack; else notTriplePack">
                <mat-chip-list><mat-chip>Full Options</mat-chip></mat-chip-list>
            </div>
            
            <ng-template #notTriplePack>            
              <mat-chip-list>
                <mat-chip *ngIf="motorcycle.comfort_pack">Confort</mat-chip>
                <mat-chip *ngIf="motorcycle.dynamic_pack">Dynamic</mat-chip>
                <mat-chip *ngIf="motorcycle.touring_pack">Touring</mat-chip>
              </mat-chip-list>
            </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="luggages">
        <th mat-header-cell *matHeaderCellDef>Bagagerie</th>
        <td mat-cell *matCellDef="let motorcycle">
          <div class="flex">
            <div *ngIf="motorcycle.has_side_cases && motorcycle.has_top_case; else notFullLuggages" class="img-container">
                <img src="./assets/img/full-luggages.svg" alt="">
            </div>
            
            <ng-template #notFullLuggages>            
                <div *ngIf="motorcycle.has_side_cases && motorcycle.has_top_case == false; else topCase" class="img-container">
                    <img src="./assets/img/sidecases.svg" alt="">
                </div>
            </ng-template>
            <ng-template #topCase>
              <div class="img-container">
                <img src="./assets/img/topcase.svg" alt="">
              </div>
            </ng-template>
            <ul class="luggages-options">
              <li *ngIf="motorcycle.bmw_luggages">BMW</li>
              <li *ngIf="motorcycle.aluminium_luggages">Aluminium</li>
            </ul>   
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Prix</th>
        <td mat-cell *matCellDef="let motorcycle"> {{motorcycle.price}} €</td>
      </ng-container>

      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef>Couleur</th>
        <td mat-cell *matCellDef="let motorcycle">
            <span class="color {{motorcycle.color}}"></span>
        </td>
      </ng-container>
      <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef>Lien</th>
        <td mat-cell *matCellDef="let motorcycle">
          <a href="{{motorcycle.link}}" target="_blank" rel="noopener" mat-icon-button>
            <mat-icon>link</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>